---
import { Image } from "astro:assets";
---

<div class="dynamic-container">
  <article class="post">
    <aside class="post-sidebar">
      <ul>
        <li class="post-row">
          <h4 class="gray">Date / Time</h4>
          <h4>This happened on - 20th July 2024</h4>
        </li>
        <li class="post-row">
          <h4 class="gray">Tags</h4>
          <h4>
            <a class="tags link link--metis" href="/">Man</a>, <a
              class="tags link link--metis"
              href="/">Sainte</a
            >,
            <a class="tags link link--metis" href="/">Money</a>,
            <a class="tags link link--metis" href="/">Food</a>
          </h4>
        </li>
        <li class="post-row">
          <h4 class="gray"></h4>
          <h4>London</h4>
        </li>
        <li class="post-row">
          <h4 class="gray">Author</h4>
          <h4>Godwin Ebikwo</h4>
        </li>
        <li class="post-row">
          <h4 class="gray">Guest</h4>
          <h4>Savannah Hobbs</h4>
        </li>
      </ul>
    </aside>
    <div class="post-main">
      <div class="post-header">
        <h1>Sage feast to the world London - Part IV</h1>
      </div>

      <div class="post-image">
        <Image
          src="https://cca-annex.net/wp-content/uploads/2022/06/000032.jpg"
          alt="descriptive text"
          width="1200"
          height="600"
          decoding="async"
          loading="eager"
        />
      </div>

      <div class="post-content padding-xl">
        <div class="post-prose prose">
          <p></p>

          <p></p>
        </div>
      </div>
    </div>
  </article>
</div>

<style>
  article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .post {
    --spacer: 5;
    --width: 450px;
    --bottom: 1.5rem;
  }

  @media (min-width: 1024px) {
    .post {
      display: grid;
      grid-template-columns: minmax(100px, 30%) 1fr;
    }
  }

  .post-sidebar {
    /* padding: var(--padding); */
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
  }

  .post-main {
    color: var(--black);
    background: rgb(248, 234, 219);
  }

  .post-header {
    padding: var(--padding);
    margin-bottom: var(--bottom);

    > h1 {
      max-width: 23ch;
      margin-bottom: 0;
    }
  }

  .post-image {
    padding: 0px var(--padding);
    margin-bottom: var(--bottom);

    @media (min-width: 1024px) {
      padding: 0px calc(var(--padding) * var(--spacer)) 0
        calc(var(--padding) + 0.5rem);
    }
  }

  .post-image img {
    width: 100%; /* Make image responsive */
    height: auto;
  }

  .post-content {
    padding: 0px var(--padding);
    margin-bottom: var(--bottom);

    @media (min-width: 1024px) {
      &.padding-xl {
        padding: var(--padding) calc(var(--padding) * var(--spacer)) 0
          calc(var(--padding) + 0.65rem);
      }
    }
  }

  .prose {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.04vw;

    @media (min-width: 1024px) {
      font-size: 1.25rem;
    }
  }

  .prose p,
  .prose ul,
  .prose li {
    margin-bottom: var(--bottom);
  }

  .post-sidebar ul {
    list-style: none;
  }

  .post-sidebar li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .post-row {
    padding: 7px 0px;
    border-bottom: 1px solid #444;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.03em;
  }

  .gray {
    opacity: 0.6;
  }

  .tags {
    text-decoration: underline;
  }
</style>
