---
import Switcher from "../components/Switcher.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="godwinebikwo ⚡️">
  <main class="text">
    <h1>
      I’m Godwin Ebikwo, an analyst and a freelance developer based in London.
    </h1>

    <p>
      My daily responsibilities at
      <a
        class="underline"
        href="https://www.datitude.co.uk/"
        aria-label="navigates to datitude ltd"
      >
        Datitude Ltd
      </a> involve resolving client issues, developing new monitoring alerts, and
      solving platform-related issues.
    </p>

    <p>
      Recently, I graduated with a masters in applied data science where my
      final project involved building a predictive model to determine
      match-outcomes.
    </p>

    <p>
      My selected commissioned work includes
      <a
        class="underline"
        href="https://reinorg.netlify.app/"
        aria-label="navigates to REIN website"
      >
        REIN,
      </a>
      <a
        class="underline"
        href="https://www.juststop.io/"
        aria-label="navigates to REIN website"
      >
        Just Stop,
      </a>

      <a
        class="underline"
        href="https://handshake-one.vercel.app/"
        aria-label="navigates to REIN website"
      >
        Handshake,
      </a>

      <a class="underline" href="/" aria-label="navigates to REIN website">
        Dermata
      </a>
    </p>

    <p>
      My interests range from riding bikes with the LIME BOYZ, to exploring
      Retrieval-Augmented Generation (RAG) and delving into NEO4j. On my days
      off, I enjoy listening to a vast array of music and taking lengthy walks.
    </p>

    <p>
      Let’s get in touch! Follow me on
      <a
        target="_blank"
        class="underline"
        href="https://www.instagram.com/godwinebikwo/?next=%2F"
        aria-label="navigates to REIN website"
      >
        Instagram,
      </a>
      <a
        target="_blank"
        class="underline"
        href="www.linkedin.com/in/godwin-a-ebikwo"
        aria-label="navigates to my LinkedIn"
      >
        LinkedIn,
      </a>
      <a
        target="_blank"
        class="underline"
        href="https://open.spotify.com/user/1508094"
        aria-label="navigates to my spotify's account"
      >
        Spotify,
      </a>
      or
      <a
        class="underline"
        href="mailto:godwin.a.ebikwo@gmail.com"
        aria-label="navigates to an email app to send me an email"
      >
        send me an email.
      </a>
    </p>

    <p>
      <Switcher /> - You have reached the bottom. Don't like the color of the page?
      you can change it!
    </p>

    <p>
      Credits: <a
        target="_blank"
        class="underline"
        href="https://astro.build/"
        aria-label="navigates to an email app to send me an email"
      >
        Astro
      </a>, <a
        target="_blank"
        class="underline"
        href="https://klim.co.nz/retail-fonts/"
        aria-label="navigates to an email app to send me an email"
      >
        Font
      </a>,
    </p>
  </main>
</Layout>

<style>
  .underline {
    display: inline-block;
    text-decoration: underline;
  }
</style>
