:root {
  --border-radius: 50px;
  --padding: 20px;
  --nav-sidebar-width: 420px;
  --header-height: 60px;
  --condensed: "Grotesk-Condensed";
  --black: #0a0a0a;
  --white: #fff;
  --border-color: rgba(255, 255, 255, 0.2);
  --yellow: yellow;
  --blue: #172838;
  --gray: #c9c1b6;
  --off-white: rgba(255, 255, 255, 0.9);
  --primary: var(--black);
  --secondary: #503C3C;
  --tetiary: yellow;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


html.dark {
  background-color: #001e0b;
  color: #a8f7eb;
  border-color: #a8f7eb;
}

@font-face {
  font-family: "Grotesk";
  src: url("/fonts/Grotesk.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Condensed";
  src: url("/fonts/Grotesk-Condensed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}



body {
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-weight: bold;
  letter-spacing: -0.06vw;
  font-family: "Grotesk", Arial, sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


.text {
  padding: 2.2vw 10vw 0 3vw;
  padding: 2.2vw 7.5vw 0 3vw;
}

h1 {
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.text p,
h1 {
  margin-bottom: 5.5vw;
  opacity: 0;
  animation: fadein 0.2s forwards ease-out;

  /* outline: solid 1px red; */
}

.text a {
  text-decoration: none;
  text-decoration-skip: ink;
  color: inherit;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: -0.5vw;
  margin-right: -0.5vw;
  cursor: pointer;
  /* cursor: url(assets/images/cursor3.png) 20 20, auto; */
}

.text a:hover {
  text-decoration: none;
}

.noscroll {
  overflow: hidden;
}

h2:before {
  content: "â—";
  position: absolute;
  margin-left: -25px;
  animation: circle infinite 0.8s;
  opacity: 0;
  transition: opacity 0.4s;
  /* transform-origin: 50% 50%; */
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  height: 100%;
  width: auto;
  background: transparent;
  border: 1px solid var(--border-color);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 0.5em;
  padding: 1rem 2rem;
  font: inherit;
  font-size: 22px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-active {
  background: var(--tetiary);
  color: #000;
  outline: none
}


.btn-back {
  float: left;
}

.btn-external {
  float: left;
}

.cf {
  display: block;
  clear: both;
}

h2 {
  font: inherit;
  font-weight: normal;
  line-height: inherit;
  letter-spacing: inherit;
  width: calc(100% - 80px);
  float: left;
  text-align: center;
}

iframe {
  border: none;
  width: 100%;
  height: calc(100% - 40px);
  background: #fff;
}

/* a:focus, .btn:focus { */
.text a:focus {
  text-decoration: none;
  outline: solid 4px rgba(0, 0, 0, 0.4);
}

/* .btn:focus {
  background: #fff;
  color: #000;
  outline: none;
} */

::selection {
  background: #000;
  background: rgba(0, 0, 0, 0.99);
  color: #fff;
}


@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 1.5vw;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@media (max-width: 740px) {
  body {
    font-size: 5.5vw;
    line-height: 5.5vw;
  }

  .text {
    padding: 8.2vw 3vw 0 3vw;
  }

  br {
    display: none;
  }
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
}

.link--metis {
  text-transform: inherit;
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.5s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

/* calendar bits */

.bg-black {
  background: var(--primary);
  color: var(--off-white);
}

.dynamic-container {
  width: 100%;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}

.block_grid {
  position: relative;
  display: grid;
  gap: 0;
  grid-auto-flow: dense;
  grid-template-columns: repeat(1, 1fr);
  font-size: 3vw;

  @media (max-width: 767px) {
    font-size: 6vw;
    line-height: 6vw;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 1px;
  }
}

.block_grid .block_item {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
  min-height: 50vh;
}

.grid-controls {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: var(--padding);
  background-color: var(--black);
}