:root {
  --border-radius: 50px;
  --padding: 20px;
  --nav-sidebar-width: 35vw;
  --header-height: 50px;
  --condensed: "Grotesk-Condensed";
  --border-color: #333;
  --black: #0a0a0a;
  --white: #fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.dark {
  background-color: #001e0b;
  color: #a8f7eb;
  border-color: #a8f7eb;
}

@font-face {
  font-family: "Grotesk";
  src: url("/fonts/Grotesk.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Condensed";
  src: url("/fonts/Grotesk-Condensed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


body {
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-weight: bold;
  letter-spacing: -0.06vw;
  font-family: "Grotesk", "Hanken Grotesk", sans-serif;
  width: 100%;
}

/* .dynamic {
  min-height: calc(100vh + 250px);
} */

.text {
  padding: 2.2vw 10vw 0 3vw;
  padding: 2.2vw 7.5vw 0 3vw;
}

h1 {
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.text p,
h1 {
  margin-bottom: 5.5vw;
  opacity: 0;
  animation: fadein 0.2s forwards ease-out;

  /* outline: solid 1px red; */
}

.text a {
  text-decoration: underline;
  text-decoration-skip: ink;
  color: inherit;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: -0.5vw;
  margin-right: -0.5vw;
  cursor: pointer;
  /* cursor: url(assets/images/cursor3.png) 20 20, auto; */
}

.text a:hover {
  text-decoration: none;
}

.noscroll {
  overflow: hidden;
}

.link-external:after {
  display: inline-block;
  content: "â†—";
  padding-left: 0.8vw;
  font-weight: normal;
}

.link-external:after {
  display: none;
}


.popup-titlebar {
  height: 40px;
  background: #fff;
  /* font-size: 2.5vw;
    line-height: 2.5vw; */
  font-size: 22px;
  line-height: 38px;
  font-weight: bold;
  /* letter-spacing: -0.03vw;*/
  letter-spacing: -0.5px;

  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

h2:before {
  content: "â—";
  position: absolute;
  margin-left: -25px;
  animation: circle infinite 0.8s;
  opacity: 0;
  transition: opacity 0.4s;
  /* transform-origin: 50% 50%; */
}

body.loading h2:before {
  opacity: 1;
}

@keyframes circle {

  0%,
  100% {
    transform: scale(1);
    margin-top: -2px;
  }

  50% {
    transform: scale(1.7);
    margin-top: -3px;
  }
}

.btn {
  /* outline: solid 1px blue; */
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  appearance: none;
  height: 100%;
  width: 40px;
  font: inherit;
  font-weight: normal;
  font-size: 25px;
  color: inherit;
  background: none;
  border: none;
  text-align: center;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  /* cursor: url(assets/images/cursor3.png) 20 20, auto; */

  color: #fff;
  border-radius: 0px;
}

.btn-back {
  float: left;
}

.btn-external {
  float: left;
}

.cf {
  display: block;
  clear: both;
}

h2 {
  font: inherit;
  font-weight: normal;
  line-height: inherit;
  letter-spacing: inherit;
  /* outline: solid 1px red; */
  width: calc(100% - 80px);
  float: left;
  text-align: center;
}

iframe {
  /* position: fixed;
    width: 100%;
    height: 100%;
    top: 0; right: 0; bottom: 0; left: 0; */
  border: none;
  width: 100%;
  height: calc(100% - 40px);
  background: #fff;
}

/* a:focus, .btn:focus { */
.text a:focus {
  text-decoration: none;
  outline: solid 4px rgba(0, 0, 0, 0.4);
}

.btn:focus {
  background: #fff;
  color: #000;
  outline: none;
}

::selection {
  background: #000;
  background: rgba(0, 0, 0, 0.99);
  color: #fff;
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 1.5vw;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@media (max-width: 740px) {
  body {
    font-size: 5.5vw;
    line-height: 5.5vw;
  }

  .text {
    padding: 8.2vw 3vw 0 3vw;
  }

  br {
    display: none;
  }
}

.block_grid {
  position: relative;
  display: grid;
  gap: 0;
  grid-auto-flow: dense;
  grid-template-columns: repeat(1, 1fr);
  font-size: 3vw;
  color: #2c2c2c;

  @media (min-width: 768px) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  padding-top: 4.5vh;
}

.block_grid .block_item {
  padding: 20px;
  min-height: 50vh;
  border: 0.4px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.dates {
  background-color: var(--black);
  color: var(--white);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 9999px;
  font-family: var(--condensed);
  font-size: 2vw;
}