---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/React/Header";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
    <style>
      #scroll-progress {
        position: fixed;
        top: 0;
        left: 0;
        height: 3px;
        background-color: var(--yellow);
        width: 0;
        z-index: 1000;
        border-radius: 9999px;
      }
      #scroll-percentage {
        position: fixed;
        top: 5px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1000;
      }
    </style>
  </head>
  <body class="bg-black">
    <div id="scroll-progress"></div>
    <div id="scroll-percentage">0%</div>
    <!-- <Header client:load /> -->

    <slot />

    <script>
      import Lenis from "lenis";

      document.addEventListener("DOMContentLoaded", () => {
        const lenis = new Lenis({
          lerp: 0.1,
        });

        lenis.on("scroll", (e) => {
          updateScrollProgress(e.scroll);
        });

        function updateScrollProgress(scroll) {
          const docHeight =
            document.documentElement.scrollHeight - window.innerHeight;
          const progress = (scroll / docHeight) * 100;
          document.getElementById("scroll-progress").style.width =
            `${progress}%`;
          document.getElementById("scroll-percentage").innerText =
            `${Math.round(progress)}%`;
        }

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
      });
    </script>

    <style></style>
  </body>
</html>
